---
import Layout from "../layouts/Layout.astro";
import Administrator from "../components/Administrator.jsx"
---

<Layout title="Relatos">
<h2 class="title ms-5">Administrador</h2>

  <Administrator client:only/>  
</Layout>
