---
import Layout from "../layouts/Layout.astro";
---
<Layout title="Contactenos">
    <div class="container text-center contactenos">
        <div class="row"> 
            <div class="col-6">
                <div class="caja d-flex justify-content-center align-items-center">
                    <div class="me-3">
                        <i class="bi bi-whatsapp"></i>
                    </div>
                    <div class="text-holder">
    
                        <h6 class="text-uppercase mb-0">Whatsapp</h6>
                        <p class="mb-0">+57 xxx xxx xxxx</p>
                        <p class="mb-0">+57 xxx xxx xxxx</p>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="caja d-flex justify-content-center align-items-center">
                    <div class="me-3 " >
                        <i class="bi bi-envelope-at-fill"></i>
                    </div>
                    <div class="text-holder">
    
                        <h6 class="text-uppercase mb-0">Correo</h6>
                        <p class="mb-0">xxxxxx@xxxx.com</p>
                        <p class="mb-0">xxxxxx@xxxx.com</p>

                    </div>
                </div>
            </div>
        </div>
        <div class="row fila-2"> 
            <div class="col-6">
                <div class="caja d-flex justify-content-center align-items-center">
                    <div class="me-3">
                        <i class="bi bi-geo-alt-fill"></i>
                    </div>
                    <div class="text-holder">
    
                        <h6 class="text-uppercase mb-0">Ubicación</h6>
                        <p class="mb-0">Cll. XX #XX-XX</p>
        
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="caja d-flex justify-content-center align-items-center">
                    <div class="me-3">
                        <i class="bi bi-instagram"></i>
                    </div>
                    <div class="text-holder">
    
                        <h6 class="text-uppercase mb-0">Instagram</h6>
                        <p class="mb-0">@XXXXXX</p>
                        

                    </div>
                </div>
            </div>
        </div>
    </div>
</Layout>
<style>
    .caja{
        background-color: #8FC6CD;
        border-radius: 30px;
        min-height: 200px;
    }
    .caja i{
        font-size: 3rem;
    }
    .contactenos{
        margin-top: 3%;
        margin-bottom: 3%;
    }
    .fila-2{
        margin-top: 3%;
    }
</style>