.formulario {
    max-width: 900px;
    margin: auto;
  }

  .modall {
    background-color: #121B26;
    color: white;
    border-radius: 50px;
  }

  .ButtonV {
    text-align: center;
    text-decoration: none;
    color: white;
  }

  .butt3 {
    text-align: center;
    width: 150px;
    font-size: 1.25rem;
    font-weight: bold;
    min-height: 40px;
    background-color: white;
    border-radius: 20px;
    margin-left: 1.5rem;
  }

  .butt3 a {
    color: black;
  }